/*
*******Estruturas do css para color, font, style, size etc.
*/

.logoLeft {
  background: #ffeee1;
}

.logoRight {
  background: #ffddd1
  ;

}

#top {
  font-size: 1.2em;
  font-weight: normal;
  color: #000;
}

#top strong {
  font-size: 1.8em;
  font-weight: bold;
}

#base {
  font-size: 1.2em;
  font-weight: normal;
  color: #000;
}

#base em {
  font-size: 1.8em;
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 2em;
}
